angular.json
package.json
package-lock.json
yarn.lock
dist
/node_modules
/resources
coverage/*
doc/*
tsconfig.json
config/*
android/*
ios/*
mocks/*
*.yaml
node_modules/*
_node_modules/*
.node_modules/*
assets/*
