<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div
  *ngIf="movie; else divLoading"
  class="background w-screen h-screen"
  [ngStyle]="{ 'background-image': 'url(' + background + ')' }"
></div>

<div
  *ngIf="movie; else divLoading"
  class="container background-image mt-10 md:mt-24"
  [ngStyle]="{ 'background-image': 'url(' + background + ')' }"
>
  <div class="image-filter w-full h-full overflow-hidden pb-14">
    <div></div>
    <h2 class="flex justify-center text-center text-white text-2xl md:text-4xl font-bold mt-4">
      {{ movie.title }}
    </h2>

    <div class="flex flex-col items-center mt-8 md:mt-16 md:flex-row md:items-center md:ml-20 md:mr-20">
      <img [src]="poster" [alt]="movie.title" class="w-32 sm:w-36 lg:w-48 h-auto rounded-lg" />

      <div class="ml-10 sm:ml-16 mr-10 sm:mr-16 md:mr-28 xl:mr-48 2xl:mr-56">
        <p class="mt-5 text-white text-center text-sm md:text-lg">{{ movie.overview }}</p>
      </div>
    </div>

    <section *ngIf="providers" class="w-full min-h-full flex gap-6 mt-10 justify-end pr-4">
      <div *ngFor="let provider of providers">
        <a class="flex flex-col">
          <img [src]="provider.logo_path | imagePatch" [alt]="provider.provider_name" class="w-24 rounded-xl" />
        </a>
      </div>
    </section>
  </div>
</div>

<div class="flex flex-nowrap overflow-x-auto overflow-y-hidden mt-4">
  <div *ngFor="let cast of casts" class="text-white">
    <movie-casting-card [cast]="cast"></movie-casting-card>
  </div>
</div>
