<div class="mt-16 shadow-2xl">
  <div class="flex items-center align-items-center space-x-2">
    <span class="text-white text-2xl cursor-pointer md:hover:text-violet-700" [routerLink]="moviesList?.url">
      {{ moviesList?.listName | titlecase }}
    </span>
    <mat-icon *ngIf="isRemovable" class="text-white hover:text-red-800" (click)="removeList()">delete</mat-icon>
  </div>
  <ng-template [ngIf]="moviesList?.movies?.length !== 0">
    <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">
      <div *ngFor="let movie of moviesList?.movies" class="text-white">
        <movies-card [is-removable]="isRemovable" [movie]="movie" [collection]="moviesList"></movies-card>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="moviesList?.movies?.length === 0">
    <h3 class="text-white text-center text-lg font-semibold text-balance">Esta lista está vacía</h3>
  </ng-template>
</div>
