<div [formGroup]="signupForm" class="flex flex-col items-center mx-auto mt-16 w-72 md:w-96 gap-5">
  <h2 class="text-lg font-bold">Crear cuenta</h2>

  <auth-input formControlName="userName" [placeholder]="'Nombre de Usuario'" [type]="'text'" />
  <span *ngIf="isValidField('userName')" class="text-sm text-red-500 self-start flex items-center gap-1">
    <mat-icon class="text-sm">warning</mat-icon>Mensaje de error del nombre de usuario
  </span>
  <auth-input formControlName="email" [placeholder]="'Correo Electrónico'" [type]="'email'" />
  <span *ngIf="isValidField('email')" class="text-sm text-red-500 self-start flex items-center gap-1">
    <mat-icon class="text-sm">warning</mat-icon>Mensaje de error del email
  </span>
  <auth-input formControlName="password" [placeholder]="'Contraseña'" [type]="'password'" />
  <span *ngIf="isValidField('password')" class="text-sm text-red-500 self-start flex items-center gap-1">
    <mat-icon class="text-sm">warning</mat-icon>Mensaje de error de la contraseña
  </span>
  <auth-input formControlName="confirmPassword" [placeholder]="'Confirma la contraseña'" [type]="'password'" />
  <span *ngIf="isValidField('confirmPassword')" class="text-sm text-red-500 self-start flex items-center gap-1">
    <mat-icon class="text-sm">warning</mat-icon>Mensaje de error de la confirmacion de contraseña
  </span>
  <button (click)="onSignup()" class="bg-[#2b2b2b] hover:bg-[#333333] text-white font-bold py-2 px-4 rounded-3xl">
    Registrarse
  </button>
</div>
