<nav
  class="bg-[#202020] dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-[#202020] dark:border-gray-600 px-6">

  <div class="container mx-auto p-2">

    <div class="items-center justify-between flex md:w-auto">

      <div class="flex items-center font-bold">
        <img src="../../../../assets/logo.png" alt="logo" class="h-16">
        <h1 class="text-white text-xl pl-6">FilmGuess</h1>
      </div>
      <ul
        class=" hidden md:flex p-4 md:p-0 mt-4 font-medium border border-[#202020] rounded-lg bg-[#202020] sm:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#202020]">
        <li *ngFor="let item of navbarItem">
          <a href="#"
          class="
          text-white
            md:hover:bg-transparent
          md:hover:text-violet-700
            md:p-0
            hover:scale-110
            transition-transform"
          [routerLink]="item.url"
          >{{item.label}}</a>
        </li>

      </ul>

      <ul class="flex md:hidden space-x-8">
        <li *ngFor="let item of navbarItem">
          <a
            href="#"
            class="
          text-white
            hover:bg-transparent
          hover:text-violet-700
            p-0
            hover:scale-110
            transition-transform">
            <mat-icon>{{ item.icon }}</mat-icon>
          </a>
        </li>
      </ul>




      <a href="#" class="text-white underline text-sm"><mat-icon >logout</mat-icon></a>
    </div>
  </div>
</nav>
