<ng-template [ngIf]="moviesList.length === 0">
  <h2 class="mt-16 text-white text-lg">Aún no tienes ninguna lista</h2>
</ng-template>

<button
  (click)="openAddMoviePopup()"
  class="bg-[#2b2b2b] hover:bg-[#333333] text-white font-bold py-2 px-4 rounded-3xl"
>
  Agregar pelicula
</button>

<ng-template [ngIf]="moviesList.length !== 0">
  <movies-list *ngFor="let item of moviesList" [movies-list]="item"></movies-list>
</ng-template>

<button
  (click)="openCreateListPopup()"
  class="bg-[#2b2b2b] hover:bg-[#333333] text-white font-bold py-2 px-4 rounded-3xl"
>
  Crear colección
</button>

<popup-create-list [isVisible]="showCreateList" (isVisibleChange)="showCreateList = $event"> </popup-create-list>
<popup-add-movie [isVisible]="showAddMovie" [lists]="collections" (isVisibleChange)="showAddMovie = $event">
</popup-add-movie>
