

<div class="mt-24 shadow-2xl">
  <h2 class="text-white text-2xl">Estrenos</h2>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">

    <div *ngFor="let movie of nowPlayingMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>

  </div>
</div>

<div class="mt-24 shadow-2xl">
  <h2 class="text-white text-2xl">Proximamente</h2>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">

    <div *ngFor="let movie of upcomingMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>
  </div>
</div>

<div class="mt-24 shadow-2xl">
  <h2 class="text-white text-2xl">Peliculas populares</h2>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden shadow-2xl">

    <div *ngFor="let movie of topRatedMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>

  </div>
</div>


