

<div class="mt-16 shadow-2xl">
  <a class="
  text-white text-2xl
    cursor-pointer
  md:hover:text-violet-700"
  [routerLink]="'/movies/now-playing'"
  >En cartelera</a>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">

    <div *ngFor="let movie of nowPlayingMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>

  </div>
</div>

<div class="mt-24 shadow-2xl">
  <a class="
  text-white text-2xl
    cursor-pointer
  md:hover:text-violet-700"
  [routerLink]="'/movies/upcoming'"
  >Proximamente...</a>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">

    <div *ngFor="let movie of upcomingMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>
  </div>
</div>

<div class="mt-24 shadow-2xl">
  <a class="
  text-white text-2xl
    cursor-pointer
  md:hover:text-violet-700"
  [routerLink]="'/movies/top-rated'"
  >Taquillazos</a>
  <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden shadow-2xl">

    <div *ngFor="let movie of topRatedMovies" class="text-white">

      <movies-card [movie]="movie"></movies-card>

    </div>

  </div>
</div>


